.assistant-wrap {
  background: #000;
  color: white;
}

/* Open assistant wrap */
.open-assistant-wrap {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* Assistant answer container */
.assistant-answer-container {
  position: absolute;
  bottom: 45px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 90px);
  background-color: rgb(50, 47, 47);
  border-radius: 15px;
  overflow-y: auto;
  border: 1px solid white;
  padding: 7px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.assistant-answer-container * { user-select: text; }
.assistant-answer-container pre {
  white-space: pre-wrap;
  text-wrap: wrap;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 15px;
  border-bottom: 1px solid rgb(73, 73, 73);
  padding-bottom: 3px;
}

/* User prompt (all assistants) */
.user-prompt-textarea {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 82.5%;
  background: #332e2e;
  color: white;
  height: 30px;
  max-height: 80vh;
  border: 1px solid silver;
  resize: none;
  border-radius: 5px;
  padding: 6px;
}
.user-prompt-textarea::placeholder { color: white; }

.send-prompt-btn {
  width: 14.5%;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid silver;
  color: white;
  background-color: black;
}
.send-prompt-btn:hover { background-color: rgb(35, 35, 35); }

/* Assistant documentation */
.open-dashboard-docs {
  color: white;
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 1.2rem;
  background-color: rgb(51, 51, 51);
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
}
.open-dashboard-docs:hover { background-color: black; }

.close-dashboard-docs {
  font-size: 1.2rem;
  padding: 3px 10px;
  color: var(--text-color);
  background: var(--block-bg);
  margin-bottom: 5px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
}
.close-dashboard-docs:hover { background: var(--body-bg); }

.dashboard-docs {
  position: absolute;
  inset: 0;
  background: var(--body-bg);
  padding: 5px;
  overflow-y: auto;
  max-height: 100vh;
  display: none;
}
.dashboard-docs > div {
  margin-bottom: 15px;
  border: 1px solid var(--border-color);
  padding: 10px;
  border-radius: 15px;
  background: var(--block-bg);
  color: var(--text-color);
}
.dashboard-docs span {
  font-weight: 1000;
  padding: 1px;
}

.dashboard-docs table {
  width: 100%;
  border-collapse: collapse;
  margin: 20px 0;
  font-size: 14px;
  border: 1px solid #e5e7eb;
  border-radius: 10px;
  overflow: hidden;
}
.dashboard-docs th { font-weight: 600; }

.dashboard-docs td, .dashboard-docs th {
  padding: 12px 14px;
  border-bottom: 1px solid #e5e7eb;
}
.dashboard-docs tr:last-child td { border-bottom: none; }

/* Memory for ai */
.open-memory-for-ai {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.2rem;
}
.open-memory-for-ai:hover { background-color: black; }

.memory-for-ai {
  position: absolute;
  top: 15vh;
  left: 15%;
  width: 70%;
  height: 70vh;
  background-color: black;
  border: 1px solid silver;
  border-radius: 15px;
  display: none;
}
.memory-for-ai > h3 {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 16px;
}
.memory-for-ai > textarea {
  position: absolute;
  top: 30px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 35px);
  border-radius: 15px;
  resize: none;
  padding: 5px;
  border: 1px solid blue;
}
.save-memory-for-ai {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  background-color: rgb(51, 51, 51);
  border: 1px solid silver;
  font-size: 16px;
  border-radius: 5px;
}

/* All assistants */
.toggle-type-assistant {
  color: white;
  background-color: blue;
  font-size: 20px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 2px;
}

.type-assistant > .assistant-answer-container { height: calc(100% - 50px); }
.type-assistant {
  position: fixed;
  bottom: 0;
  left: 32px;
  width: calc(100vw - 32px);
  height: 80vh;
  border-top: 2px solid var(--border-color);
  border-radius: 10px 10px 0 0;
  background-color: black;
  transform: translateY(100%);
  transition: transform .5s;
  z-index: 100;
  text-align: left;
}
.type-assistant.open { transform: translateY(0); }

.user-text {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 3px 0;
}
.user-text > pre {
  max-width: 60%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding: 3px 7px;
  border-radius: 5px;
  position: relative;
  background-color: rgb(0, 0, 96);
}
.user-text > pre::before {
  content: 'You:';
  color: rgb(169, 169, 169);
  position: absolute;
  top: -11px;
  left: 3px;
}