.assistant-wrap {
  background: #000;
  color: white;
}

/* Open assistant wrap */
.open-assistant-wrap {
  background: linear-gradient(135deg, #00c6ff, #0072ff);
}

/* Assistant answer container */
.assistant-answer-container {
  position: absolute;
  bottom: 45px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 50px);
  background-color: rgb(50, 47, 47);
  border-radius: 10px;
  overflow-y: auto;
  border: 2px solid white;
  padding: 7px;
  padding-bottom: 50px;
  display: flex;
  flex-direction: column;
  gap: 7px;
}
.assistant-answer-container pre {
  white-space: pre-wrap;
  text-wrap: wrap;
  word-wrap: break-word;
  font-size: 13px;
  line-height: 16px;
  padding-bottom: 3px;
}

.assistant-answer-container ul li::before {
  content: "•";
  position: absolute;
  left: 0;
  top: 0;
  color: #9a9a9a;
  transform: scale(1);
  animation: list-pulse 1.6s infinite;
}

@keyframes list-pulse {
  0% { transform: scale(1); }
  50% { transform: scale(1.4); }
  100% { transform: scale(1);  }
}

/* User prompt (all assistants) */
.user-prompt-textarea {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 82.5%;
  background: #332e2e;
  color: white;
  height: 30px;
  max-height: 80vh;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 6px;
}
.user-prompt-textarea::placeholder { color: white; }

.send-prompt-btn {
  width: 14.5%;
  height: 30px;
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.25rem;
  border-radius: 5px;
  border: 1px solid silver;
  color: white;
  background-color: black;
}
.send-prompt-btn:hover { background-color: rgb(35, 35, 35); }

/* Memory for ai */
.open-memory-for-ai {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
  background-color: rgb(51, 51, 51);
  padding: 5px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  font-size: 1.2rem;
}
.open-memory-for-ai:hover { background-color: black; }

.memory-for-ai {
  position: absolute;
  top: 15vh;
  left: 15%;
  width: 70%;
  height: 70vh;
  background-color: black;
  border: 1px solid silver;
  border-radius: 15px;
  display: none;
}
.memory-for-ai > h3 {
  position: absolute;
  top: 5px;
  left: 15px;
  font-size: 15px;
}
.memory-for-ai > textarea {
  position: absolute;
  top: 30px;
  left: 5px;
  width: calc(100% - 10px);
  height: calc(100% - 35px);
  border-radius: 10px;
  padding: 5px;
  box-shadow: 0 0 2px 1px blue;
}
.save-memory-for-ai {
  position: absolute;
  top: 5px;
  right: 15px;
  color: white;
  background-color: rgb(51, 51, 51);
  border: 1px solid silver;
  font-size: 16px;
  border-radius: 5px;
}
.save-memory-for-ai:hover { background-color: white; color: black; }

/* Generated runner commands */
.runner-command-block {
  position: relative;
  white-space: pre-wrap;
  text-wrap: wrap;
  padding: 5px;
  background-color: rgb(30, 30, 30);
  border-radius: 5px;
  border: 2px solid silver;
  height: max-content;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  gap: 5px;
  align-items: end;
}

.runner-command-block:has(.runner-command-btn)::before {
  content: "Assistant wants to run this query";
  position: absolute;
  bottom: 10px;
  left: 5px;
  font-size: 10px;
}

.runner-command-block > .command {
  background-color: black;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid silver;
  font-size: 10px;
  width: calc(100%);
  height: max-content;
  max-height: 200px;
  overflow-y: auto;
  white-space: pre-wrap;
}
.runner-command-block > .cancel-command-btn {
  background: linear-gradient(190deg, rgb(103, 0, 0), red);
  color: white;
  font-size: 14px;
  padding: 1px 5px;
  border-radius: 5px;
}
.runner-command-block > .runner-command-btn {
  color: black;
  background: linear-gradient(180deg, green, rgb(0, 255, 0));
  padding: 2px 5px;
  border-radius: 5px;
  border: 1px solid silver;
  font-size: 14px;
}

/* Generated code blocks */
.assistant-answer-container .code-block {
  background-color: rgb(30, 30, 30);
  border-radius: 15px;
  border: 1px solid rgb(67, 67, 67);
  padding: 7px;
  position: relative;
}
.assistant-answer-container .code-block[data-title]:not([data-title=""])::after {
  content: attr(data-title);
  position: absolute;
  top: 5px;
  right: 10px;
  font-size: 12px;
  background: rgba(255,255,255,0.05);
  padding: 2px 6px;
  border-radius: 6px;
  color: rgb(174, 174, 174);
}

/* User txt */
.user-text {
  width: 100%;
  display: flex;
  justify-content: right;
  padding: 3px 0;
}
.user-text > pre {
  max-width: 60%;
  border-bottom: 1px solid white;
  border-left: 1px solid white;
  padding: 3px 7px;
  border-radius: 5px;
  position: relative;
  background-color: rgb(0, 0, 96);
}
.user-text > pre::before {
  content: 'You:';
  color: rgb(169, 169, 169);
  position: absolute;
  top: -11px;
  left: 3px;
}

/* Thinking ai text */
.thinking-ai-text {
  background: linear-gradient(
    90deg,
    #777,
    #aaa,
    #fff,
    #aaa,
    #777
  );
  background-size: 200% 100%;

  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;

  animation: shimmerText 2s linear infinite;
}

@keyframes shimmerText {
  0% { background-position: -200% 0; }
  100% { background-position: 200% 0; }
}