.code-ai-wrap > .chat {
  position: absolute;
  top: 10px;
  left: 10px;
  width: calc(100% - 20px);
  height: calc(100% - 155px);
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  overflow-y: auto;
  background-color: var(--block-bg);
  color: var(--text-color);
  border-radius: 10px;
  border: 1px solid var(--border-color);
}

.code-ai-wrap > .chat details { margin-bottom: 15px; }

.code-ai-wrap > .chat,
.code-ai-wrap > .chat * { user-select: text; }

.code-ai-wrap > .chat > pre {
  white-space: pre-wrap;
  text-wrap: wrap;
  font-size: 14px;
  line-height: 1.4;
}

.code-ai-wrap > .chat > pre.user {
  max-width: 75%;
  width: max-content;
  height: max-content;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  padding: 5px;
  position: relative;
}

.code-ai-wrap > .chat code.proposed-code {
  display: block;
  background-color: rgb(30, 30, 30);
  color: white;
  border: 2px solid silver;
  padding: 7px;
  border-radius: 10px;
}

.code-ai-wrap > .chat code.proposed-code > pre {
  height: max-content;
  max-height: 250px;
  overflow-y: auto;
  border: 1px solid silver;
  padding: 3px;
  border-radius: 5px;
}

.code-ai-wrap > .chat code.proposed-code > button {
  color: white;
  width: 100%;
  border: 1px solid silver;
  border-radius: 7px;
  height: 30px;
  font-size: 16px;
}

.code-ai-wrap > .chat code.proposed-code > button.ok { background-color: green; }
.code-ai-wrap > .chat code.proposed-code > button.no { background-color: red; }
.code-ai-wrap > .chat code.proposed-code > button.download { background-color: blue; }

/* User area */
.code-ai-wrap > .user-area {
  position: absolute;
  bottom: 10px;
  left: 10px;
  border-radius: 10px;
  border: 1px solid var(--border-color);
  height: 125px;
  width: calc(100% - 20px);
  background-color: var(--block-bg);
  box-shadow: 0 -1px 5px color-mix(var(--border-color) 30%, transparent);
  max-height: 80vh;
}

.code-ai-wrap > .user-area > textarea {
  width: 100%;
  background-color: transparent;
  color: var(--text-color);
  padding: 10px;
  border-radius: 7px;
  height: 65px;
  max-height: calc(80vh - 65px);
}

.code-ai-wrap .uploads > .open-files-window {
  position: absolute;
  bottom: 10px;
  left: 10px;
  font-size: 25px;
}

.code-ai-wrap .uploads > p {
  font-size: 10px;
  position: absolute;
  bottom: 3px;
  left: 3px;
}

.code-ai-wrap .uploads > .files-window {
  width: 75%;
  height: 80%;
  position: fixed;
  top: 10%;
  left: 12.5%;
  border-radius: 10px;
  padding: 10px;
  border: 1px solid var(--border-color);
  background-color: var(--block-bg);
  display: none;
  gap: 15px;
  flex-direction: column;

  overflow-y: auto;
}
.code-ai-wrap .uploads > .files-window.open { display: flex; }

.code-ai-wrap .uploads > .files-window > button.upload-files-btn {
  padding-left: 0;
  width: 100%;
  height: 30px;
  border: 1px solid var(--border-color);
  color: var(--text-color);
  border-radius: 10px;
  transition: background-color .2s, color .2s;
}
.code-ai-wrap .uploads > .files-window > button.upload-files-btn:hover {
  background-color: var(--text-color);
  color: var(--block-bg);
}

.code-ai-wrap .uploads > .files-window ul {
  display: flex;
  flex-direction: column;
  gap: 10px;
  padding: 10px;
  list-style: none;
}

.code-ai-wrap .uploads > .files-window ul li {
  position: relative;
  width: max-content;
  cursor: pointer;
}

.code-ai-wrap .uploads > .files-window ul li.is-selected::before {
  content: '✓';
  position: absolute;
  right: calc(100% + 5px);
  top: 50%;
  transform: translateY(-50%);
}

.code-ai-wrap .uploads > .files-window ul li::after {
  content: '';
  display: block;
  position: absolute;
  top: 100%;
  left: 50%;
  transform: translateX(-50%);
  width: 0;
  height: 2px;
  background-color: var(--border-color);
  transition: width .2s;
}
.code-ai-wrap .uploads > .files-window ul li:hover::after {
  width: 100%;
}

.code-ai-wrap button.send {
  position: absolute;
  bottom: 10px;
  right: 10px;
  border: 1px solid var(--border-color);
  border-radius: 10px;
  padding: 5px 10px;
  font-size: 16px;
  transition: box-shadow .2s;
}
.code-ai-wrap button.send:hover {
  box-shadow: 0 0 2px 2px var(--border-color) inset;
}

.code-ai-wrap > .loader { display: none; }