.exchange-rate-wrap * { user-select: text; }

.exchange-rate-wrap > select {
  position: absolute;
  top: 5px;
  left: 5px;
  width: 40%;
  height: 30px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background: var(--block-bg);
  color: var(--text-color);
}
.exchange-rate-wrap > select > option {
  background-color: silver;
  color: black;
}

.exchange-rate-wrap > input.count {
  position: absolute;
  top: 5px;
  right: 5px;
  width: calc(60% - 15px);
}
.exchange-rate-wrap > input.search {
  position: absolute;
  top: 45px;
  left: 10px;
  width: calc(100% - 20px);
}

.exchange-rate-wrap > p {
  position: absolute;
  top: 85px;
  left: 5px;
  font-size: 15px;
  text-wrap: nowrap;
}

.exchange-rate-wrap > div {
  position: absolute;
  top: 110px;
  left: 5px;
  background: var(--block-bg);
  color: var(--text-color);
  border-radius: 7px 7px 3px 3px;
  width: calc(100% - 10px);
  height: calc(100% - 115px);
  overflow-y: auto;
  padding: 3px;
  border: 1px dashed var(--border-color);
  font-size: 16px;
}
.exchange-rate-wrap > div > div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  transition: text-shadow .2s;
  border-radius: 7px;
  padding: 2px 3px;
}
.exchange-rate-wrap > div > div:hover { text-shadow: 0 0 3px blue; }

.exchange-rate-wrap > div > div:not(:last-child) {
  border-bottom: 1px solid var(--border-color);
  margin-bottom: 12px;
}
.exchange-rate-wrap > div > div.is-fav {
  border-bottom-color: yellow;
  box-shadow: 0 0 5px gold;
}

.exchange-rate-wrap > div > div > pre {
  width: max-content;
  max-width: calc(100% - 50px);
  text-wrap: wrap;
}

/* Loader */
.exchange-rate-wrap > .loader { display: none; }