html .json-worker-wrap { overflow-y: auto; }

.json-worker-wrap > textarea {
  position: absolute;
  top: 5px;
  left: 5px;
  width: calc(100% - 10px);
  height: 70%;
  color: var(--text-color);
  background: var(--block-bg);
  border-radius: 6px;
  border: 1px solid var(--border-color);
  padding: 5px;
}
.json-worker-wrap > button {
  position: absolute;
  top: calc(70% + 10px);
  left: 10px;
  width: calc(100% - 20px);
  height: 30px;
  font-size: 16px;
  background-color: blue;
  color: white;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}

.json-worker-wrap > input {
  position: absolute;
  top: calc(70% + 50px);
  left: 5px;
  width: calc(100% - 10px);
}

.json-worker-wrap > div {
  position: absolute;
  top: calc(70% + 85px);
  left: 5px;
  width: calc(100% - 10px);
  height: auto;
  max-height: 300%;
  overflow: auto;
  background: var(--block-bg);
  color: var(--text-color);
  border: 1px dotted green;
  border-radius: 10px;
  padding: 5px;
}
.json-worker-wrap > div :not(hr) { user-select: text; width: max-content }
.json-worker-wrap > div > hr {
  margin: 10px 0;
  border-radius: 0;
  height: 1px;
  border: 1px solid white;
}

.json-worker-wrap > div summary { position: relative; }

.json-worker-wrap > div details:not([open]) > summary::after {
  content: attr(data-for-close-state);
  font-size: 14px;
  position: absolute;
  top: 2px;
  right: -45px;
  color: white;
  text-shadow: 0 0 2px red;
}
.json-worker-wrap > div details[open] > summary::after {
  content: attr(data-for-open-state);
  font-size: 14px;
  position: absolute;
  top: 2px;
  right: -45px;
  color: white;
  text-shadow: 0 0 2px blue;
}

.json-worker-wrap > .loader { display: none; }

.json-worker-wrap .found-json-el-anim {
  border-radius: 3px;
  border: 1px solid transparent;
  animation: 3s found_json_el_blink forwards;
}
@keyframes found_json_el_blink {
  0%, 50% { background-color: black; border-color: white; }
  100% { background-color: transparent; border-color: transparent; }
}