/* Note wrap (all notes blocks) */
.notes-wrap {
  text-align: center;
  padding: 5px;
}

.all-user-notes-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 20px;
  padding-bottom: 110px;
}

/* Note block */
.note-block {
  width: 90%;
  min-height: 70px;
  background: var(--block-bg);
  border-radius: 12px;
  color: var(--text-color);
  border: 1px solid var(--border-color);
  padding: 5px;
  margin: 10px;
  cursor: pointer;
}
.note-block > h2, .note-block > p {
  text-wrap: wrap;
  word-wrap: break-word;
}
.note-block > hr { margin: 10px 0; }
.note-block > .note-block-btns-cont {
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}
.note-block-btns-cont > button {
  width: 30%;
  background-color: rgba(10, 25, 60, 0.75);
  border-radius: 10px;
  padding: 2px;
  border: 1px solid var(--border-color);
  color: white;
}
.note-block-btns-cont > button:hover { background-color: rgb(10, 25, 60); }

/* Search note blocks/text */
.search-note-blocks-input { width: 95%; }
.search-note-text-input {
  position: absolute;
  top: 48px;
  width: 90%;
  left: 5%;
}
/* Note save btn */
.note-save-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
}/* Note save btn */

/* Notes content wrap */
.notes-content-wrap { text-align: center; padding-top: 15px; }
.notes-user-content {
  position: absolute;
  top: 110px;
  width: 95%;
  margin-left: 2.5%;
  min-height: 150px;
  max-height: calc(100% - 95px);
  background: var(--block-bg);
  border-radius: 8px;
  padding: 5px;
  overflow-y: auto;
  text-align: start;
}

/* Add note */
.add-notes-inputs {
  position: absolute;
  top: 20%;
  left: 5%;
  width: 90%;
  height: 25%;
  background: var(--block-bg);
  text-align: center;
  border-radius: 8px;
  border: 3px solid var(--border-color);
  padding: 5px;
  display: none;
}
.note-name-input, .note-description-input {
  width: 95%;
  height: 25px;
  padding: 5px;
  border-radius: 7px;
  margin: 5px;
  border: 1px solid black;
}
.add-note-button {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.3rem;
}
.add-note-button:hover { color: rgb(92, 92, 92); }

/* Limits texts */
.notes-blocks-limit {
  position: fixed;
  bottom: 10px;
  left: 45%;
  color: black;
  z-index: 10;
}
.notes-symbols-limit-text {
  position: absolute;
  top: 85px;
  right: 25px;
}

/* Close note content wraps */
.close-notes-content-wrap {
  position: absolute;
  top: 5px;
  right: 5px;
  font-size: 1.5rem;
}

/* Edit note */
.edit-note-block {
  width: 75%;
  min-height: 50%;
  position: fixed;
  top: 5%;
  left: 12.5%;
  background: var(--block-bg);
  border: 2px solid var(--border-color);
  border-radius: 10px;
  padding: 5px;
  display: none;
}
.edit-note-block > input {
  width: 100%;
  margin-bottom: 5px;
}
.conf-note-edit-change-btn {
  position: absolute;
  bottom: 5%;
  right: 5%;
  background-color: black;
  color: white;
  padding: 5px;
  font-size: 1.2rem;
  border: 1px solid var(--border-color);
  border-radius: 8px;
}