.qr-code-generation-wrap > .loader { display: none; }

.qr-code-generation-wrap > textarea {
  position: absolute;
  top: 10px;
  left: 10px;
  background-color: var(--block-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
  border-radius: 7px;
  padding: 5px;
  width: calc(100% - 20px);
  height: 35%;
  overflow-y: auto;
}

.qr-code-generation-wrap > div.buttons {
  position: absolute;
  top: calc(35% + 20px);
  left: 15px;
  width: calc(100% - 30px);
  background-color: var(--block-bg);
  height: 35%;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  gap: 10px;
  align-items: center;
  height: 35px;
}

.qr-code-generation-wrap button,
.qr-code-generation-wrap a {
  font-size: 15px;
  padding: 3px;
}

.qr-code-generation-wrap button {
  background-color: green;
  border-radius: 5px;
  border: 1px solid var(--border-color);
}

.qr-code-generation-wrap a {
  color: var(--text-color);
  background-color: blue;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  cursor: pointer;
}
.qr-code-generation-wrap > a:not([href]) {
  opacity: 0.5;
  cursor: default;
  font-size: 16px;
}

.qr-code-generation-wrap > img {
  position: absolute;
  top: calc(35% + 65px);
  left: 5px;
  max-width: calc(100% - 20px);
  max-height: calc(65% - 75px);
}