.settings-wrap { text-align: center; padding-bottom: 50px; }

.settings-block {
  width: 90%;
  height: 50px;
  background-color: var(--block-bg);
  border: 1px solid var(--border-color);
  margin: 10px auto;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
}
.settings-block p { font-size: 1rem; }
.settings-block button {
  height: 35px;
  width: 35px;
  font-size: 1.6rem;
  background-color: transparent;
}

.settings-block select {
  background-color: transparent;
  color: var(--text-color);
  padding: 2px;
  border-left: 1px solid var(--border-color);
}
.settings-block select > option {
  background-color: var(--block-bg);
  color: var(--text-color)
}

.notes-font-size-sett {
  height: 20px;
  border-radius: 5px;
  padding-left: 5px;
}