.text-worker-service-wrap > .user-txt,
.text-worker-service-wrap > .generated-text {
  position: absolute;
  left: 5px;
  background: var(--block-bg);
  color: var(--text-color);
  padding: 5px;
  width: calc(100% - 10px);
  border-radius: 5px;
  border: 1px solid var(--border-color);
  overflow-y: auto;
}

.text-worker-service-wrap > button {
  position: absolute;
  top: calc(40% + 10px);
  left: 10px;
  width: calc(100% - 20px);
  background-color: green;
  height: 30px;
  border-radius: 5px;
  border: 1px solid var(--border-color);
  color: white;
}

.text-worker-service-wrap > .user-txt {
  top: 5px;
  height: 40%;
}

.text-worker-service-wrap > .generated-text {
  top: calc(40% + 50px);
  max-height: calc(60% - 70px);
  font-size: 15px;
  white-space: pre-wrap;
  text-wrap: wrap;
}
.text-worker-service-wrap > .loader { display: none; }