.timezone-wrap {
  padding: 5px;
  background: black;
}

.close-timezone-wrap-btn {
  position: absolute;
  top: 3px;
  right: 3px;
  font-size: 1.25rem;
}

.search-timezone-input {
  width: calc(100% - 35px);
  height: 25px;
  border-radius: 5px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.select-timezone {
  min-width: 50%;
  border-radius: 5px;
  height: 25px;
}
.all-timezones-container {
  width: 100%;
  margin-top: 10px;
}
.all-timezones-container > pre {
  border: 1px solid silver;
  background-color: rgba(54, 54, 126, 0.5);
  margin-bottom: 1px;
  border-radius: 3px;
  padding: 1px;
  padding-left: 4px;
  text-wrap: wrap;
  cursor: pointer;
  transition: padding-left .2s, background-color .2s;
  font-size: 1.2rem;
}
.all-timezones-container > pre:hover {
  padding-left: 7px;
  background-color: rgb(54, 54, 126);
}

.time-zone-info-block {
  min-height: 40%;
  width: 75%;
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 6px;
  transform: translateX(130%);
  border: 1px solid silver;
  position: fixed;
  top: 25%;
  left: 12.5%;
  padding: 7px;
  transition: transform .5s;
}
.time-zone-info-block.open { transform: translateX(0); }
.time-zone-info-block > pre { text-wrap: wrap; }
.time-zone-info-block > hr { margin: 15px 0; }