.timezone-wrap {
  padding: 5px;
}

.search-timezone-input {
  width: 100%;
  margin-bottom: 5px;
}
.select-timezone {
  min-width: 50%;
  border-radius: 5px;
  height: 25px;
  background-color: var(--block-bg);
  color: var(--text-color);
  border: 1px solid var(--border-color);
}
.select-timezone > option { color: black; }
.all-timezones-container {
  width: 100%;
  margin-top: 10px;
  color: white;
  font-size: 1.15rem;
  height: calc(100% - 70px);
  overflow-y: auto;
  contain: content;
}
.all-timezones-container > pre {
  border: 1px solid var(--border-color);
  background-color: rgb(42, 27, 110);
  margin-bottom: 1px;
  border-radius: 3px;
  padding: 1px;
  padding-left: 4px;
  text-wrap: wrap;
  cursor: pointer;
  transition: padding-left .2s, background-color .2s;
}
.all-timezones-container > pre:hover {
  padding-left: 7px;
  background-color: rgb(16, 16, 41);
}

.time-zone-info-block {
  min-height: 40%;
  width: calc(75% - 32px);
  background-color: rgba(0, 0, 0, 0.85);
  color: white;
  border-radius: 6px;
  transform: translateX(130%);
  border: 1px solid silver;
  position: fixed;
  top: 25%;
  left: calc(12.5% + 32px);
  padding: 7px;
  transition: transform .5s;
}
.time-zone-info-block.open { transform: translateX(0); }
.time-zone-info-block > pre { text-wrap: wrap; }
.time-zone-info-block > hr { margin: 15px 0; }