.todo-wrap { transition: box-shadow 1s; }
.todo-wrap.is-edit {
  outline: 2px dashed rgba(255, 255, 255, 0.35);
  outline-offset: -6px;
}
.todo-wrap.is-edit [data-todo-block] { outline: 3px dashed black; }

.todo-wrap button { transition: transform .2s; cursor: pointer; }
.todo-wrap button:hover, .todo-wrap input[type='checkbox']:hover  { transform: scale(1.1); }

[data-todo-input] {
  position: absolute;
  top: 25px;
  left: 2.5%;
  width: 95%;
  height: max(4.5%, 25px);
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
  font-size: 1.25rem;
}
[data-todo-input]::placeholder, [data-todo-search]::placeholder { font-size: 1.1rem; }
[data-todo-search] {
  position: absolute;
  top: 75px;
  left: 2.5%;
  width: 95%;
  height: max(4.5%, 25px);
  border-radius: 10px;
  border: 1px solid black;
  padding-left: 10px;
}

[data-add-todo] {
  position: absolute;
  top: 115px;
  left: 2.5%;
  border: 1px solid black;
  height: max(4.5%, 25px);
  border-radius: 10px;
  width: 12.5%;
  font-size: 0.8rem;
}

[data-todos-container] {
  width: 100%;
  position: absolute;
  top: 175px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
  padding-bottom: 110px;
}

[data-todo-block] {
  position: relative;
  border-radius: 10px;
  height: 115px;
  transition: var(--is-comp-anim-transition);
  width: clamp(250px, 30%, 100%);
}
[data-todo-block]:has([data-todo-input-completed]:checked) {
  box-shadow: 0 0 20px 1px rgb(0, 255, 0);
  color: black;
  transition: var(--is-comp-anim-transition);
}
[data-todo-block]:has([data-todo-input-completed]:checked) h2 {
  text-decoration: line-through;
  text-decoration-color: #4caf50;
  text-decoration-thickness: 3px;
}

[data-todo-h2] { position: absolute; left: 5px; font-size: 1.2rem; top: 7px; }
[data-todo-p] {
  position: absolute;
  top: 2px;
  right: 3px;
  font-size: 0.75rem;
}

[data-del-todo-btn] {
  position: absolute;
  bottom: 5px;
  left: 45%;
  width: 10%;
  height: 20%;
  border-radius: 7px;
  background-color: transparent;
  font-size: 1.25rem;
}
[data-replace-todo-btn] {
  position: absolute;
  bottom: 5px;
  right: 2px;
  width: 10%;
  height: 20%;
  border-radius: 7px;
  background-color: transparent;
  font-size: 1.25rem;
}
[data-replace-todo-input] {
  position: absolute;
  bottom: 35px;
  left: 5%;
  width: 90%;
  border-radius: 7px;
  display: none;
  padding-left: 10px;
  height: 25px;
}
[data-replace-todo-input].show { display: block; }

[data-todo-input-completed] {
  position: absolute;
  bottom: 5px;
  left: 5px;
  width: 25px;
  height: 25px;
}
[data-todo-input-completed]:focus { outline: none; }

[data-todos-number] {
  position: fixed;
  bottom: 10px;
  left: 45%;
  color: black;
  z-index: 10;
}

[data-close-todo-wrap] {
  width: 10%;
  height: max(4.5%, 25px);
  position: absolute;
  top: 115px;
  right: 2.5%;
  border-radius: 10px;
  border: 1px solid black;
}

[todo-symbols-length] {
  position: absolute;
  top: 5px;
  right: 3%;
}

.todo-save-btn {
  position: absolute;
  top: 115px;
  right: 15%;
  height: max(4.5%, 25px);
  font-size: 0.75rem;
  border-radius: 10px;
  width: 10%;
  border: 1px solid black;
}

/* Hidden todos */
.hidden-todos-window {
  position: fixed;
  left: 10vw;
  top: 10vh;
  background: var(--block-bg);
  width: 80vw;
  height: 80vh;
  border-radius: 7px;
  display: none;
  text-align: center;
  padding-top: 10px;
  border: 1px solid silver;
}
.close-hidden-wind-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  background-color: transparent;
  width: 30px;
  height: 30px;
  font-size: 1.25rem;
}
.toggle-hidden-todos-window {
  position: absolute;
  top: 115px;
  right: 27.5%;
  height: max(4.5%, 25px);
  border-radius: 7px;
  width: 10%;
  border: 1px solid black;
}
.hide-completed-todos {
  position: absolute;
  top: 115px;
  right: 40%;
  width: 10%;
  height: max(4.5%, 25px);
  border-radius: 7px;
  border: 1px solid black;
}

.hidden-todos-container {
  padding: 50px 5px 15px 5px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  overflow-y: auto;
  height: calc(100% - 50px);
}
.hidden-todo-block {
  width: clamp(250px, 30%, 100%);
  background: var(--body-bg);
  border-radius: 7px;
  position: relative;
  height: 100px;
}
.hidden-todo-block > h3 {
  position: absolute;
  top: 13px;
  left: 5px;
}
.hidden-todo-block > p {
  font-size: 0.6rem;
  position: absolute;
  top: 2px;
  right: 2px;
}
.hidden-todo-block .delete-hidden-todo {
  position: absolute;
  bottom: 10px;
  right: 10px;
  width: 25px;
  height: 25px;
  background-color: transparent;
  font-size: 1rem;
}

.unhide-todos {
  position: absolute;
  top: 5px;
  left: 5px;
  padding: 5px;
  background-color: transparent;
  font-size: 1rem;
  color: black;
  transition: color .2s;
}

/* Edit todos */
.start-edit-todos {
  position: absolute;
  top: 115px;
  left: 17.5%;
  width: 10%;
  height: max(4.5%, 25px);
  border-radius: 10px;
  border: 1px solid black;
  font-size: 1.05rem;
}
.set-todos-color-block {
  width: max-content;
  height: max-content;
  background-color: rgb(136, 136, 136);
  padding: 5px;
  position: absolute;
  display: none;
  border-radius: 5px;
}
.set-todos-color-block > input {
  width: 50px;
  height: 50px;
  border: 1px solid black;
}
.set-todos-color-block > button {
  color: black;
  padding: 1px;
  background-color: transparent;
}
.reset-todo-color {
  position: absolute;
  top: 2px;
  right: 2px;
  font-size: 1.05rem;
}