.user-code-wrap {
  text-align: center;
  padding: 5px;
}

.code-save-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 5px;
  border-radius: 10px;
}

/* Add code block */
.toggle-add-new-block-code-form {
  position: absolute;
  top: 10px;
  right: 50px;
}

.add-new-block-code-form {
  position: absolute;
  top: 30%;
  left: 5%;
  width: 90%;
  height: 25%;
  background: var(--block-bg);
  color: var(--text-color);
  text-align: center;
  border-radius: 8px;
  border: 1px solid var(--border-color);
  padding: 5px;
  display: none;
}
.code-block-name-input {
  width: 95%;
  height: 25px;
  padding: 5px;
  border-radius: 7px;
  border: 1px solid black;
  margin-top: 10px;
  margin-bottom: 10px;
}
.add-code-block-btn {
  position: absolute;
  bottom: 5px;
  right: 5px;
  font-size: 1.3rem;
  color: var(--text-color);
}
.add-code-block-btn:hover { color: rgb(92, 92, 92); }

/* User code blocks */
.user-code-block {
  width: 99%;
  background: linear-gradient(90deg, rgba(0, 20, 30, 0.9), rgba(0, 180, 200, 0.6), rgba(0, 20, 30, 0.9));
  color: #e6fcff;
  box-shadow: 2px 2px 5px rgba(0, 180, 200, 0.5);
  border: 1px solid var(--border-color);
  margin: 15px auto;
  overflow: hidden;
  border-radius: 8px;
  padding: 3px;
  position: relative;
  transition: height .2s;
}
.user-code-block > h3 {
  position: absolute;
  top: px;
  left: 10px;
  max-width: calc(100% - 165px);
  text-wrap: wrap;
  font-size: 1.1rem;
}
.user-code-block svg { color: white; }
.code-lang-text {
  position: absolute;
  top: 45px;
  left: 5px;
  color: rgba(255, 255, 255, 0.6);
}
.all-user-codes-container { padding-bottom: 110px; }
.code-blocks-limit {
  position: fixed;
  bottom: 10px;
  left: 45%;
  color: black;
  z-index: 10;
}
/* Code editor styles */
html .is-wrap .user-code-content {
  min-height: 50px;
  border: 1px solid #444;
  border-radius: 6px;
  overflow: hidden;
}
html .is-wrap .CodeMirror-scroll { overflow-y: auto; }
html .is-wrap .CodeMirror-hscrollbar { height: 0 !important; }
html .is-wrap .user-code-content .CodeMirror {
  background-color: rgb(175, 175, 175);
  color: black;
  text-align: left;
  max-height: 90vh;
  font-size: 0.75rem;
}
html .is-wrap .CodeMirror-gutters {
  background-color: #1b1b1b;
  border-right: 1px solid #333;
}
html .is-wrap .CodeMirror-matchingbracket { border: 2px solid gold; }
html .is-wrap .CodeMirror .CodeMirror-nonmatchingbracket { border: 2px solid red; }
html .is-wrap .CodeMirror .CodeMirror-selected { background-color: rgba(0, 120, 133, 0.4); }
/* Code editor styles */

.code-symbols-limit {
  position: absolute;
  top: 7px;
  right: 34px;
  width: max-content;
}
.copy-code-btn {
  position: absolute;
  top: 34px;
  right: 5px;
}

.delete-code-btn {
  position: absolute;
  top: 5px;
  right: 5px;
  color: white;
}

/* Search code */
.search-code-input {
  height: 30px;
  resize: none;
  width: 97%;
}

/* Focus */
.focus-code-btn {
  position: absolute;
  top: 34px;
  right: 34px;
}
.focus-code-wrap {
  padding: 3px;
  background: rgb(0, 0, 0);
  color: white;
  z-index: 50;
}
.focus-code-wrap .CodeMirror {
  position: absolute;
  top: 5vh;
  left: 3px;
  width: calc(100% - 35px);
  height: 94vh;
  border: 1px solid white;
  text-align: left;
  border-radius: 3px;
  font-size: 0.7rem;
}
.focus-code-wrap > .all-focus-btns {
  width: 30px;
  position: absolute;
  top: 5%;
  right: 3px;
}
.focus-code-wrap > .all-focus-btns > button { margin-bottom: 15px; }
.focus-code-wrap > .all-focus-btns > button > svg { color: white; }

.focus-code-wrap > .focus-code-symbols {
  position: absolute;
  top: 10px;
  right: 9vw;
}
.focus-code-wrap > .focus-code-title {
  position: absolute;
  top: 5px;
  left: 10px;
}

/* Code snippets */
.code-snippets-block { z-index: 15; }
.open-code-snippets-btn {
  position: absolute;
  top: 70px;
  right: 3%;
  padding: 2px;
  border: 1px solid var(--border-color);
  border-radius: 5px;
  background-color: #fff;
  color: black;
}
.code-snippets-container {
  height: calc(100% - 50px);
  margin-top: 50px;
  width: 100%;
  overflow-y: auto;
}

.snippet-block {
  text-align: left;
  padding: 5px;
  max-height: 35%;
  background: var(--block-bg);
  color: var(--text-color);
  border-radius: 5px;
  position: relative;
  margin-bottom: 22px;
  overflow: auto;
}
.snippet-block > h3 {
  position: absolute;
  top: 0px;
  left: 2px;
}
.snippet-block > pre {
  padding: 10px 2px;
  user-select: text;
}
.copy-code-snippet {
  position: absolute;
  top: 2px;
  right: 5px;
}

.close-code-snippets-btn {
  position: absolute;
  top: 10px;
  right: 5px;
  font-size: 1.25rem;
}

/* Search snippets */
.search-snippets-input {
  position: absolute;
  top: 10px;
  left: 5px;
  width: calc(100% - 50px);
}

/* Snippet favorite */
.snippet-fav-btn {
  position: absolute;
  top: 2px;
  right: 30px;
}

/* Codes assistants */
.toggle-codes-content-assistant-window {
  color: white;
  font-size: 16px;
  background-color: blue;
  border: 1px solid silver;
  border-radius: 5px;
  padding: 3px;
}

.user-code-wrap > .toggle-codes-assistant-window {
  position: absolute;
  top: 5px;
  left: 5px;
  font-size: 17px;
}